@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  display: block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

body {
  background: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  padding: 40px 0;
}
.header .flex-wrap__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #D4D4D4;
  border-radius: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 28px 7px 11px;
  gap: 10px;
}
.header .header__shop > div {
  position: relative;
  height: 56px;
  width: 56px;
  background: #274C5B;
  border-radius: 50%;
}
.header .header__shop > div > img {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header .header__shop .header__size-shop {
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #274C5B;
}
.header .header__shop .header__size-shop > span {
  display: inline-block;
  padding-left: 7px;
}

.logo {
  padding: 8px 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
}
.header__nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.header__nav .nav__item {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.36px;
}
.header__nav .nav__item:nth-child(4) {
  margin-right: 20px;
}
.header__nav .nav__item .nav__link {
  color: #274C5B;
}
.header__nav .nav__item .nav__link.active {
  color: #7EB693;
}