.forms{
    padding: 30px 0;
    .flex-wrap{
        background: url(../images/form.png) no-repeat;
        background-size: cover;
        padding: 100px 70px;
        border-radius: 30px;
        @media (max-width:1024px) {
            flex-direction: column;
            justify-content: center;
            gap:10px;
            padding: 80px 50px;
        }
        @media (max-width:768px) {
            padding: 60px 30px;
        }
        @media (max-width:426px) {
            padding: 50px 30px;
        }
    }
    .forms__email{
        padding: 20px 10px 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        @media (max-width:1024px) {
            justify-content: center;
        }
        @media (max-width:768px) {
            padding: 15px 5px 15px 0;
        }
        input{
            border-radius: 16px;
            border: 1px solid #CCCCCC;
            min-width: 350px;
            padding: 25px 0 25px 30px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
            letter-spacing: 0.36px;
            color: $gray;
            &::placeholder{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 29px;
                letter-spacing: 0.36px;
                color: $gray;
            }
            @media (max-width:768px) {
                padding: 20px 0 20px 25px;
                min-width: 300px;
            }
            @media (max-width:426px) {
                padding: 15px 0 15px 20px;
                min-width: 250px;
            }
        }
    }
    .title{
        max-width: 325px;
        text-transform: capitalize;
        color: $white;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.36px;
        @media (max-width:1024px) {
           margin: auto;
           max-width: 600px;
           text-align: center;
        }
        @media (max-width:426px) {
            font-size: 40px;
            line-height: 50px;
            text-align: center;
        }
    }
    .btn{
        max-width: 200px;
        cursor: pointer;
        background: $green-blue;
        border: 1px solid $green-blue;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 20px 9px 20px 33px;
        transition: all 1s linear;
        @media (max-width:768px) {
            padding: 15px 9px 15px 33px;
        }
        .link{
            color: $white;
            transition: all 1s linear;
        }
        > div{
            position: relative;
            height: 38px;
            width: 38px;
            background: $light-green-blue;
            border-radius: 50%;
            transition: all 1s linear;
            > img{
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:hover{
            background: $gold;
            border: 1px solid  $gold;
            & > span{
                color: $green-blue;
            }
            > div{
                background: $green-blue;
            }
        }
    }
}