.header__nav{
    display: flex;
    align-items: center;
    gap: 120px;
    .nav{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-right: 255px;
        &__item{
            cursor: pointer;
            &:nth-child(4){
                margin-right: 20px;
            }
            .nav__link{
                &.active{
                    color: $green;
                }
            }
        }
    }
}