.offer{
    padding: 140px 0 160px;
    background: $green-blue;
    @media (max-width:1024px) {
        padding: 100px 0;
    }
    @media (max-width:376px){
        padding: 70px 0;
    }
    &__text{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 45px;
        @media (max-width:768px){
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 20px;
        }
        .title{
            text-transform: capitalize;
            color: $white;
        }
        .btn{
            margin-right: 10px;
            max-width: 267px;
            cursor: pointer;
            background: $gold;
            border: 1px solid $gold;
            border-radius: 16px;
            display: flex;
            align-items: center;
            gap: 22px;
            padding: 22px 9px 22px 33px;
            transition: all 0.5s linear;
            > span{
                transition: all 0.5s linear;
            }
            > div{
                position: relative;
                height: 38px;
                width: 38px;
                background: $green-blue;
                border-radius: 50%;
                transition: all 0.5s linear;
                > img{
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:hover{
                background: $green-blue;
                border: 1px solid  $light-green-blue;
                & > span{
                    color: $white;
                }
                > div{
                    background: $light-green-blue;
                }
            }
        }
    }
}