section.about#about
    .container
        .flex-wrap
            .flex-wrap__item
                img(src="./images/AboutUs.png", alt="Fruits")
            .flex-wrap__item
                .about__text
                    span.about__heading.heading About us
                    h2.about__title.title We Believe in Organic Foods For Strong Health
                    p.about__description.description Welcome to the world of natural and organic. Here you can discover the bounty of nature. We have grown on the principles of health, and care. We aim to give our customers a healthy chemical-free meal for perfect nutrition.
                    .about__advantages.advantages
                        .about__item
                            div
                                div.circle
                                img(src="./images/VectorAbout1.png", alt="Organic Foods")
                            h3.advantages__name.name Organic Foods Only
                            p.about__description.description The Product that you ordered will be verified that we have or not if have we will start to move on with the next step.
                        .about__item
                            div
                                div.circle
                                img(src="./images/VectorAbout2.png", alt="Quality Standards")
                            h3.advantages__name.name Quality Standards
                            p.about__description.description Once your product is packed it will be delivered to your nearby locality you can directly visit the to buy the product.
                    a(href='./index.html#products').about__btn.btn
                        span.link Shop Now
                        div
                            img(src="./images/Vector.svg", alt="Vector")
