section.baners
    .container
        .flex-wrap
            .flex-wrap__item
                .baners__text
                    span.baners__heading.heading Natural!!
                    h2.baners__title.title Get Garden Fresh Fruits
            .flex-wrap__item
                .baners__text
                    span.baners__heading.heading Offer!!
                    h2.baners__title.title Get 10% off on Vegetables
