section.forms
    .container 
        .flex-wrap 
            .flex-wrap__item 
                p.forms__title.title Subscribe our Newsletter
            .flex-wrap__item 
                .forms__email
                    input(type="email", name="email", placeholder="Enter your email address")
                    a(href='./index.html#').offer__btn.btn
                        span.link Subscribe
                        div
                            img(src="./images/Vector.svg", alt="Vector")
