section.home
    .container
        .home__text
            span.home__heading.heading Made with nature
            h1.home__title.title Welcome to the world of nature and organic.
            a(href='#').home__btn.btn
                span.link Explore Now
                div
                    img(src="./images/Vector.svg", alt="Vector")