section.pages#pages
    .flex-wrap
        a(href="#").flex-wrap__item
            span.name Fruit Juice
        a(href="#").flex-wrap__item
            span.name Organic Food
        a(href="#").flex-wrap__item
            span.name Nuts Cookies