section.pages#pages
    .flex-wrap
        .flex-wrap__item
            span.name Fruit Juice
        .flex-wrap__item
            span.name Organic Food
        .flex-wrap__item
            span.name Nuts Cookies