section.products#products
    .container
        .products__text
            span.products__heading.heading Organic
            h2.products__title.title Our products
        .grid-wrap
            +carts('Vegetable', './images/broccoli.png', 'Broccoli', 'Calabrese Broccoli', '$ 25.00 USD', '$ 21.00 USD')
            +carts('Vegetable', './images/corn.png', 'Corn', 'Fresh Corn', '$ 21.23 USD', '$ 18.00 USD')
            +carts('Millets', './images/pistachio.png', 'Pistachio', 'Dried Pistachio', '$ 61.00 USD', '$ 48.00 USD')
            +carts('Vegetable', './images/tomato.png', 'Tomato', 'Vegan Red Tomato', '$ 14.00 USD', '$ 9.37 USD')
            +carts('Fruits', './images/almonts.png', 'Almonds', 'Organic Almonds', '$ 21.00 USD', '$ 18.00 USD')
            +carts('Millets', './images/hazelnut.png', 'Hazelnut', 'Brown Hazelnut', '$ 43.00 USD', '$ 34.00 USD')