section.testimonial
    .container
        .testimonial__text
            span.testimonial__heading.heading Testimonial
            h2.testimonial__title.title What Our Customer Saying?
            img(src="./images/photo.png", alt="Photo")
            .stars
                img(src="./images/star.png", alt="Star")
                img(src="./images/star.png", alt="Star")
                img(src="./images/star.png", alt="Star")
                img(src="./images/star.png", alt="Star")
                img(src="./images/star.png", alt="Star")
            p.testimonial__description.description The quality of organic produce is extremely high, the service is second to none and the taste of the food takes me back to my childhood when we were growing our own.
            span.name Sara Taylor
            span.type Consumer
        hr
        .status.flex-wrap
            .status__item
                .wrap
                    span.status__number 100%
                    span.status__description.description Organic
            .status__item
                .wrap
                    span.status__number 285
                    span.status__description.description Active Product
            .status__item
                .wrap
                    span.status__number 385+
                    span.status__description.description Organic Orchads
            .status__item
                .wrap
                    span.status__number 25+
                    span.status__description.description Years of Farming