body{
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    color: $white;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 10px;
}

.flex-wrap{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.heading{
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 64px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: $green;
    @media (max-width:426px) {
        font-size: 30px;
        line-height: 40px;
    }
    @media (max-width:320px) {
        font-size: 25px;
        line-height: 35px;
    }
}

.title{
    font-size: 45px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 0.36px;
    color: $green-blue;
    @media (max-width:426px){
        font-size: 35px;
        line-height: 45px;
    }
    @media (max-width:320px) {
        font-size: 25px;
        line-height: 35px;
    }
}

.link{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: $green-blue;
    text-transform: capitalize;
    @media (max-width:376px){
        font-size: 16px;
        line-height: 20px;
    }
}

.description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: $gray;
    @media (max-width:426px){
        font-size: 14px;
        line-height: 20px;
    }
}

.name{
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.36px;
    color: $green-blue;
    @media (max-width:426px){
        font-size: 18px;
        line-height: 25px;
    }
}

.circle{
    background-color: $bg-circle;
    min-width: 24px;
    min-height: 24px;
    border-radius: 50%;
}

.grid-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    @media (max-width:1024px){
        grid-template-columns: 1fr 1fr;
        padding: 0 100px;
    }
    @media (max-width:768px){
        padding: 0;
    }
    @media (max-width:426px){
        grid-template-columns: 1fr;
        padding: 0 30px;
    }
}

.price-wrap{
    display: flex;
    gap: 12px;
    @media (max-width:768px){
        flex-direction: column;
        gap: 0;
    }
}

.price{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    @media (max-width:320px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.info{
    display: flex;
    justify-content: space-between;
}

.stars{
    display: flex;
    align-items: center;
    gap: 3px;
}