$font-roboto: 'Roboto', sans-serif;
$green-blue: #274C5B;
$white: #ffffff;
$green:#7EB693;
$gold:#EFD372;
$bg-color: #F9F8F8;
$gray: #525C60;
$bg-circle: #FFF4CD;
$light-green-blue: #335B6B;
$old-price:#B8B8B8;
$hr: #D4D4D4;
$bg-pages: #EFF6F1;

